#wple-icon-lime-export { background: url(icon.png) no-repeat 0 0; display: block; width: 36px; height: 34px; float: left; margin-right: 10px; }
#wple-export-filters {}
#wple-export-filters code { background: transparent; font-style: normal; }
#wple-export-filters .wple-export-settings { margin: 0 0 18px 18px; }
#wple-export-filters .wple-export-settings label { cursor: default; }
#wple-export-filters .tables-list { margin-left: 10px; }
#wple-export-filters .tables-list li { color: #000; }
#wple-export-filters .tables-list li label { font-family: monospace; user-select: none; -webkit-user-select: none; -moz-user-select: -moz-none; }
#wple-export-filters .tables-list li.inactive { color: #999; }

.wp-list-table.wple-snapshots .wple-snapshot-description ul li { margin-bottom: 0; }
.wp-list-table.wple-snapshots .column-name span { float: left; }
.wp-list-table.wple-snapshots .column-name span.sorting-indicator { display: block; position: static; width: 7px; height: 4px; margin-top: 8px; margin-left: 7px; background-image: url(../../../../wp-admin/images/sort.gif); background-repeat: no-repeat; }

.wple-support-list dt span { padding: 2px 8px; border-radius: 3px; font-weight: bold; color: #fff; background: #a00; }
.wple-support-list dt.wple-enabled span { background: #57ac18; }
.wple-support-list dd { margin: 5px 8px 20px; }